.navbar {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(148, 148, 148, 0.349);
}
.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}
.navbar ul li {
    display: flex;
    margin-right: 60px;
}
.navbar ul li:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    margin: auto;
}
.navbar div {
    display: flex;
    margin-right: 20px;
}
.navbar div:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
}
.navbar div a {
    text-decoration: none;
    color: black;
    margin: auto;
}
/* Контейнер с элементами, использующий Flexbox для адаптивного размещения */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Элементы переносятся на новую строку при нехватке места */
}

/* Элементы с классами .person и .interests занимают 25% ширины контейнера и центрируются */
.person, .interests {
    width: 25%;
    margin: auto;

}

.container img {
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgb(78, 78, 78);
    width: 50%; /* Ширина изображения составляет 50% от ширины родительского элемента */
    height: auto; 
}
.container img:hover {
    transform: scale(1.0); /* Увеличение изображения на 10% */
    transition: 0.5s ease; /* Плавный переход за 0.5 секунды */
    box-shadow: 10px 10px 5px #000000; /* Изменение цвета тени на синий */
}

/* Фон для всей страницы */
body {
    background-color: #faf7f7; /* Светло-серый фон */
}

/* Фон для основного содержимого страницы */
main {
    background:	#E0FFFF;
    /* Градиентный фон, плавно переходящий от светлого к более темному оттенку */
}

/* Стили для текста в параграфах */
p {
    text-align: justify; /* Выравнивание текста по ширине */
    font-size: 1.2rem; /* Увеличенный размер шрифта */
    font-weight: normal; /* Обычный вес шрифта */
    margin-right: 20px;
    margin-left: 10px; /* Отступы по бокам */
}

/* Эффект при наведении на параграф */
p:hover {
    background-color: #5ca6c614; /* Синий фон при наведении */
}

/* Секции внутри контейнера */
.container section {
    width: 100%; /* Секция занимает всю ширину контейнера */
    margin: auto; /* Центрирование секции */
}


.container-video {
    display: flex;
    flex-direction: column; /* Контейнер для видео, элементы располагаются вертикально */
}
.video1, .video2, .video3 {
    margin-bottom: 20px; /* Отступ снизу для каждого видео-блока */
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    display: flex; /* Применение Flexbox для управления содержимым */
}

.video1 video {
    margin: auto; /* Центрирование видео по горизонтали */
}

.video2 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.video3 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.container-audio {
    display: flex;
    flex-direction: column; /* Контейнер для аудио, элементы располагаются вертикально */
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого аудио-блока */
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 60%; /* Аудиоплееры занимают 60% ширины контейнера */
    margin: auto; /* Центрирование аудиоплееров по горизонтали */
}

.audio1 img, .audio2 img, .audio3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #000000; /* Добавление синеватой тени к изображениям */
}

.container-book {
    display: flex;
    flex-direction: column; /* Контейнер для книг, элементы располагаются вертикально */
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого книжного блока */
}

.book1 img, .book2 img, .book3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #000000; /* Добавление синеватой тени к изображениям */
    margin-bottom: 10px; /* Отступ снизу для изображений */
}

.book1 a, .book2 a, .book3 a {
    margin: auto; /* Центрирование ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста ссылок черный */
    font-size: 1.2rem; /* Увеличенный размер шрифта для ссылок */
} 

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0); /* Изменение тени на зеленовато-желтую при наведении на изображение */
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #7cc6e5; /* Изменение фона ссылки на синий при наведении */
    transition: 0.7s ease; /* Плавный переход фона за 0.7 секунды */
}

footer {
    display: flex;
    flex-direction: row; /* Элементы внутри футера располагаются горизонтально */
    justify-content: center; /* Центрирование содержимого футера */
}

footer a {
    margin-right: 10px; /* Отступ справа у ссылок в футере */
}
.navbar ul .work { 
    position: relative; /* Set the position to relative to enable absolute positioning of its child elements */ 
    display: flex; /* Use flexbox for layout */ 
    z-index: 10; /* Set stacking order */ 
} 
 
.navbar ul .work ul { 
    position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */ 
    flex-direction: column; /* Arrange children in a column */ 
    left: 0; /* Align the left edge of the dropdown with the parent */ 
    top: 100%; /* Position the top of the dropdown just below the parent */ 
    width: 100px; /* Set a fixed width for the dropdown */ 
    display: none; /* Initially hide the dropdown */ 
    padding: 0; /* Remove default padding */ 
    z-index: 20; /* Set a higher stacking order for the dropdown */ 
} 
 
.navbar ul .work ul li { 
    z-index: 20; /* Ensure list items have the same stacking order as the parent */ 
    background-color: #7cc6e5; /* Set background color */ 
    margin-bottom: 2px; /* Add space between items */ 
} 
 
.navbar ul .work:hover ul { 
    display: block; /* Show the dropdown when hovering over the parent */ 
} 
 
.navbar ul .work ul li:hover { 
    background-color: white; /* Change background color on hover */ 
    border-radius: 0; /* Remove border radius */ 
}
.form { 
    flex-direction: column; /* Arrange the children of the .form container in a column layout */ 
} 
 
.form form { 
    display: flex; /* Use flexbox for the form layout */ 
    flex-direction: column; /* Arrange form elements in a column */ 
} 
 
.form form fieldset { 
    display: flex; /* Use flexbox for the fieldset layout */ 
    flex-direction: column; /* Arrange fieldset elements in a column */ 
    width: 50%; /* Set the width of the fieldset to 50% of the container */ 
    margin: auto; /* Center the fieldset horizontally */ 
    margin-top: 30px; /* Add a margin of 30px to the top */ 
    margin-bottom: 10px; /* Add a margin of 10px to the bottom */ 
} 
 
.form form fieldset input { 
    margin-bottom: 10px; /* Add a margin of 10px to the bottom of each input element */ 
} 
 
.form form fieldset legend { 
    text-align: center; /* Center the legend text */ 
    font-size: 1.2rem; /* Set the font size of the legend text to 1.2rem */ 
    font-weight: bold; /* Make the legend text bold */ 
} 
 
.form form button { 
    width: 200px; /* Set the width of the button to 200px */ 
    font-size: 1.2rem; /* Set the font size of the button text to 1.2rem */ 
    background-color: #24779b; /* Set the background color of the button */ 
    color: white; /* Set the text color of the button to white */ 
    margin: auto; /* Center the button horizontally */ 
    margin-bottom: 20px; /* Add a margin of 20px to the bottom */ 
} 
 
.form form button:hover { 
    font-size: 1.2rem; /* Maintain the font size of the button text on hover */ 
    background-color: #91130c; /* Change the background color of the button on hover */ 
    color: rgb(248, 243, 243); /* Change the text color of the button on hover */ 
}
.math {
    display: flex;
}
    
.math form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    width: 100%;
}
.math form fieldset {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    margin-bottom: 30px;
}
.math form fieldset legend {
    
    text-align: center;
    
    font-size: 1.2rem;
}
.math form fieldset .counters {

    display: flex;
    
    flex-direction: row;
    
    justify-content: center;
    
    gap: 10px;
    
    margin-bottom: 20px;
    
}
.butcont2 button:hover{
    background-color: #91130c;
    color: aliceblue;


}
.math form fieldset .butcont{
    flex-direction: center;
}
.butcont button:hover{
    background-color: #91130c;
    color: aliceblue;


}
.butcont2 button{
    padding: 15px 30px;
    font-size: 18px;
    width: auto;
    height: auto;
}
.butcont button{
    padding: 15px 30px;
    font-size: 18px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.butcont{
    width: 10px;
}
    
.math form fieldset .counters div {
    
    display: flex;
    
    flex-direction: column;
    
    width: 50%;
    
    margin: auto;
    
}
    
.math form fieldset .counters div label, input {
    
    margin: auto;
    
    text-align: center;
    
}
    
.math form fieldset .counters div input {
    
    width: 70%;
    
    font-size: 1.1rem;
    
    color: black
}
.math form fieldset .butcont {
    gap: 20px;
    display: flex;
    
    flex: center;
    
    width: 100%;
    
    margin-bottom: 20px;
}
    
.math form fieldset.butcont1 button {
   
    display: block;
    
    width: 20%;
    
    box-sizing: border-box;
    
    height: 40px;
    
    margin: auto;
    
}
    
.math form fieldset p {
    
    display: flex;
    
    margin: 0;
    
}
    
.math form fieldset p span {
    
    margin: auto;
    
    font-size: 1.2rem;
    
}
.math form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    width: 100%;
}
.math form fieldset {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    margin-bottom: 30px;
}
.math form fieldset legend {
    
    text-align: center;
    
    font-size: 1.2rem;
}



.math form fieldset .counters2 {
    flex: 1;
    display:flex;
    
    flex-direction:column;
    
    
    justify-content: space-between;
    
    gap: 10px;
    
    margin-bottom: 20px;
    
}
.bebra{
    display: flex;
    flex-direction: column;
}
    
.math form fieldset .counters2 div {
    
    display: flex;
    
    flex-direction: column;
    
    width: 50%;
    
    margin: auto;
    
}
    
.math form fieldset .counters2 div label, input {
    
    margin: auto;
    
    text-align: center;
    
}
    
.math form fieldset .counters2 div input {
    
    width: 70%;
    
    font-size: 1.1rem;
    
    color: black
}
.math form fieldset .butcont2 {

    display: flex;
    
    flex: row;
    
    width: 100%;
    
    margin-bottom: 20px;
}
    
.math form fieldset.butcont2 button {
    
    display: block;
    
    width: 20%;
    
    box-sizing: border-box;
    
    height: 40px;
    
    margin: auto;
    
}
    
.math form fieldset p {
    
    display: flex;
    
    margin: 0;
    
}
    
.math form fieldset p span {
    
    margin: auto;
    
    font-size: 1.2rem;
    
}


.API {
    display: flex;
    flex-direction: column;
}
    
.API .Petro {
    
    display: flex;
    width: 70%;
    flex-direction: row; 
    margin-bottom: 40px;
    margin: auto;
    padding-top: 20px
}
    
.API .Petro img, span {
    
    margin: auto; 
    width: 50%;
    
    height: auto;
    
}
    
.API .Tokyo {
    
    display: flex;
    width: 70%;
    flex-direction: row; 
    margin-bottom: 40px;
    margin: auto;
    padding-top: 20px
}
.API .Tucson {
    
    display: flex;
    width: 70%;
    flex-direction: row; 
    margin-bottom: 40px;
    margin: auto;
    padding-top: 20px
}
.API .Tucson img { 
    border-radius: 8px; 
}
    
.API .Tokyo img { 
    border-radius: 8px; 
}
    
.API .Petro span { 
    display: inline; 
    text-align: center; 
    font-size: 1.2rem;
    
}
    
.API .Tucson span { 
    display: inline; 
    text-align: center; 
    font-size: 1.2rem; 
}
.API .Tokyo img, span {

    margin: auto;
    width: 50%;
    height: auto;
    
}
.API .Tokyo span { 
    display: inline; 
    text-align: center; 
    font-size: 1.2rem; 
}
.API .Tucson {
    
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    margin-bottom:10px
    
}
.API .Kokshetau {
    
    display: flex;
    width: 70%;
    flex-direction: row; 
    margin-bottom: 40px;
    margin: auto;
    padding-top: 20px
}
.API .Kokshetau img, span {
    
    margin: auto;
    width: 50%;
    height: auto;
    
}
.API .Kokshetau img {
    
    border-radius: 8px;
}
.API .Kokshetau span { 
    display: inline; 
    text-align: center; 
    font-size: 1.2rem; 
}
.API .Tucson img, span {
    
    margin: auto;
    width: 50%;
    height: auto;
    
}
    
.API .Petro img {
    
    border-radius: 8px;
}
.API .Alburquerque {
    
    display: flex;
    width: 70%;
    flex-direction: row; 
    margin-bottom: 40px;
    margin: auto;
    padding-top: 20px
}
.API .Alburquerque img, span {
    
    margin: auto;
    width: 50%;
    height: auto;
    
}
.API .Alburquerque img {
    
    border-radius: 8px;
}
.API .Alburquerque span { 
    display: inline; 
    text-align: center; 
    font-size: 1.2rem; 
}


@media (max-width: 700px) {
    /* При ширине экрана до 700px */
    
    .container {
        display: flex;
        flex-direction: column; /* Переключение на вертикальный макет */
    }

    .person {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 30%; /* Элемент занимает всю ширину контейнера */
        margin:auto /* Убираем отступы */
    }
    .burger {
        display: none;
    }
    .person p {
        margin-top: 5px; /* Отступ сверху для параграфов */
        margin-bottom: 10px; /* Отступ снизу для параграфов */
    }

    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 95%; /* Изображение занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
        margin: center; /* Центрирование изображения по горизонтали */
    }

    .container img:hover {
        transform: scale(1.03); /* Легкое увеличение изображения при наведении */
        transition: 0.5s ease; /* Плавный переход увеличения за 0.5 секунды */
        box-shadow: 5px 5px 5px #7cc6e5; /* Изменение тени при наведении */
    }
    .interests {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin:0; /* Убираем отступы */
    }

    .interests p {
        margin-top: 10px; /* Отступ сверху для параграфов */
        margin-bottom: 0; /* Убираем отступ снизу */
    }

    h2 {
        margin: 10px; /* Отступы вокруг заголовка */
        text-align: center; /* Выравнивание заголовка по центру */
    }

    .video1 video {
        margin-top: 20px; /* Отступ сверху для видео */
        width: 95%; /* Видео занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }

    .video2 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }

    .video3 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%; /* Изображения книг занимают 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
    .burger { 
        display: block; /* Отображение элемента как блочный элемент */ 
        position: relative; /* Относительное позиционирование для внутренних элементов */ 
        width: 40px; /* Ширина контейнера */ 
        height: 40px; /* Высота контейнера */ 
        margin: auto; /* Автоматические отступы по бокам для центрирования */ 
        margin-left: 20px; /* Отступ слева */ 
        margin-right: 5px; /* Отступ справа */ 
    } 
     
    /* Стили для полосок внутри бургер-меню */ 
    .burger span { 
        position: absolute; /* Абсолютное позиционирование для расположения полосок внутри контейнера */ 
        width: 30px; /* Ширина каждой полоски */ 
        left: 5px; /* Отступ от левого края контейнера */ 
        height: 3px; /* Высота полоски */ 
        background-color: black; /* Цвет полоски */ 
        bottom: 20px; /* Расположение полоски от нижнего края контейнера */ 
    } 
     
    /* Стили для первой полоски бургер-меню */ 
    .burger span:nth-child(1) { 
        transform: translateY(-10px); /* Перемещение первой полоски вверх на 10px */ 
    } 
     
    /* Стили для третьей полоски бургер-меню */ 
    .burger span:nth-child(3) { 
        transform: translateY(10px); /* Перемещение третьей полоски вниз на 10px */ 
    }
    .navbar ul { 
        position: absolute; /* Абсолютное позиционирование относительно ближайшего позиционированного предка, в нашем случае экрана. */ 
        background:#74d5ff;/* Радужный градиентный фон от верхнего левого угла */ 
        flex-direction: column; /* Элементы списка будут выстраиваться вертикально (необходимо для флекс-контейнера) */ 
        width: 30%; /* Ширина списка равна 30% от ширины родительского элемента */ 
        height: auto; /* Высота автоматически подстраивается под содержимое */ 
        top: 68px; /* Расположение списка на 68px ниже от верхнего края родительского элемента */ 
        left: -40%; /* Расположение списка на 40% ширины родительского элемента слева (вне видимой области) */ 
        z-index: 2; /* Уровень стека элемента, чтобы он перекрывал другие элементы с меньшим z-index */ 
    } 
     
    /* Стили для элементов списка внутри навигационного меню */ 
    .navbar ul li { 
        margin-top: 10px; /* Отступ сверху для элементов списка */ 
    } 
     
    /* Стили для элемента списка при наведении */ 
    .navbar ul li:hover { 
        background-color: black; /* Цвет фона элемента становится черным при наведении */ 
        transform: scale(1.07); /* Увеличение размера элемента на 7% при наведении */ 
        transition: 0.4s ease; /* Плавный переход эффекта с продолжительностью 0.4 секунды */ 
        border-radius: 5%; /* Закругление углов элемента на 5% */ 
    } 
     
    /* Стили для ссылок в элементах списка при наведении */ 
    .navbar ul li a:hover { 
        color: white; /* Цвет текста ссылки становится белым при наведении */ 
    }
    .navbar ul li:nth-child(1) { 
        margin-top: 20px; /* Увеличение отступа сверху для первого элемента списка */ 
    } 
     
    /* Стили для ссылок внутри элементов списка */ 
    .navbar ul li a { 
        margin-left: 0; /* Установка нулевого отступа слева для ссылок */ 
        font-size: 1.2rem; /* Установка размера шрифта в 1.2rem */ 
    } 
     
    /* Стили для навигационного меню при открытом состоянии */ 
    .navbar.open ul { 
        transform: translateX(100%); /* Перемещение меню на 100% ширины вправо (выдвигается за пределы видимой области) */ 
        transition: 0.7s ease-in-out; /* Плавный переход эффекта с продолжительностью 0.7 секунды */ 
    } 
     
    /* Стили для первой полоски бургер-меню при открытом состоянии */ 
    .navbar.open .burger span:nth-child(1) { 
        transform: translateY(0) rotate(45deg); /* Поворачивает первую полоску на 45 градусов и возвращает в исходное положение по вертикали */ 
    } 
     
    /* Стили для второй полоски бургер-меню при открытом состоянии */ 
    .navbar.open .burger span:nth-child(2) { 
        opacity: 0; /* Делает вторую полоску полностью прозрачной (не видимой) */ 
    } 
     
    /* Стили для третьей полоски бургер-меню при открытом состоянии */ 
    .navbar.open .burger span:nth-child(3) { 
        transform: translateY(0) rotate(-45deg); /* Поворачивает третью полоску на -45 градусов и возвращает в исходное положение по вертикали */ 
    }
    .navbar ul .work ul { 
        position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */ 
        flex-direction: column; /* Arrange children in a column */ 
        left: 10px; /* Offset the dropdown 10px from the left of the parent */ 
        top: 0; /* Align the top of the dropdown with the top of the parent */ 
        width: 100px; /* Set a fixed width for the dropdown */ 
        display: none; /* Initially hide the dropdown */ 
        padding: 0; /* Remove default padding */ 
        z-index: 20; /* Set a higher stacking order for the dropdown */ 
    } 
     
    .navbar ul .work ul li { 
        margin-top: 0; /* Remove top margin */ 
        margin-bottom: 10px; /* Add bottom margin */ 
        background-color: unset; /* Remove default background color */ 
        font-size: 1.2rem; /* Increase font size */ 
        margin-left: 10px; /* Offset the list item 10px from the left */ 
        color: black; /* Set text color to black */ 
    } 
     
    .navbar ul .work ul li:hover { 
        background-color: black; /* Change background color to black on hover */ 
    } 
     
    .navbar ul .work ul li:hover a:hover { 
        color: white; /* Change text color to white when hovering over the link */ 
    } 
     
    .navbar ul .work:hover ul li a { 
        color: black; /* Set text color to black when hovering over the parent */ 
    }
    .form form fieldset {
        width: 80%;
    }
    .math form fieldset {
        width: 70%;
    }
    .API .Tokyo span {
    
        display: inline; 
        text-align: center; 
        font-size: 1.2rem; 
    }
        
        
    .API .Tokyo { 
        width: 100%; 
    }
    .API .Kokshetau span {
    
        display: inline; 
        text-align: center; 
        font-size: 1.2rem; 
    }
        
        
    .API .Alburquerque { 
        width: 100%; 
    }
    .API .Alburquerque span {
    
        display: inline; 
        text-align: center; 
        font-size: 1.2rem; 
    }
        
        
    .API .Kokshetau { 
        width: 100%; 
    }
        
    .API .Petro { 
        width: 100%; 
    }
        
    .API.Tucson { 
        width: 100%; 
    }
        
    .API.Petro span { 
        font-size: 1.05rem; 
    }
        
    .API .Tucson span { 
        font-size: 1.05rem; 
    }
        
    .API .Tokyo span { 
        font-size: 1.05rem; 
    }
    .API.Kokshetau span { 
        font-size: 1.05rem; 
    }
    .API.Alburquerque span { 
        font-size: 1.05rem; 
    }

}

@media (min-width: 700px) and (max-width: 900px) {
    /* При ширине экрана от 700px до 900px */
    .form form fieldset {
        width: 65%;
    }
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 320px; /* Ширина изображения фиксирована */
        height: 200px; /* Высота изображения фиксирована */
        margin: auto; /* Центрирование изображения по горизонтали */
    }
}